
.ContainerUserList{
  margin-top: 3vw !important;
  width: 100vw !important;
}
.Container-Detail{
  margin-top: 5vw !important;
  width: 100vw !important;
}

.imgDetailGroup{
margin-top: 1vw;  
  display: grid;
  width: 50vw !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items  :baseline;
  grid-gap: 0vw;
 
}

.imgDetail{
  height: 15vw !important;
  width: 18vw !important;
}

.Description{
position: relative;
margin-left: -30vw !important;

}
.DetailField{
  display: grid;
  grid-template-columns: 0.10fr 1fr;
  align-items  :baseline;
  grid-gap: 1vw;
  margin-top: -2vw;
}

.DetailValue{
  /* margin-left: -80%; */
  font-size: 1.25em;
  font-style: italic;
}
.h3Detail{
  text-align: left;
  /* margin-left: 10vw;
  margin-top: 1.8vw; */
}
.img-table{
  width:10vw !important;
  height:7vw !important;
  border-radius: 2rem;
}

.btn-table{
  /* width:4vw; */
  margin-left: 1vw;
}

.img-preview{
  width: 25%;
}

.btn-Ad{
  margin-top: 1vw;
}
.form-group-Ad{
  margin-left: 18vw !important;
}
.form-control{
 margin-bottom: 1vw;
}
.container{
  width: 50% !important;
  background-color: white !important;
  padding: 16px;
}
.inputAmount{
  margin-left:1vw !important; 
  margin-top: 0vw !important;
}
centerDiv{
  display: flex;
  justify-content: center;
}
.SideBar{
  height: 0vw !important;
  max-height: 0vw !important;
}

.currency{
  width: 15vw !important;
}
.currencyGroupSearch{
  margin-top: 4vw !important;
}
.currencyGroup{
display: grid;
grid-template-columns: 1fr 1fr;
align-items  :baseline;
grid-gap: 1vw;
/* top: 0; */
margin-top: 0;
}
/* .column{
  flex:50%;
} */

.adsCardsGroup{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 20px ;
}

.column-Ads{
  /* flex: 33%; */
}

.amount{
  width: 40vw !important;

}

.amount-Search{
  width: 20vw !important;

}

.centerButton{
  margin-top: 2vw !important;
  width: 10vw;
  margin-left: 1vw !important;
}
.loginContainer{
  margin-top: 10vw;
  width: 50% !important;
}

.Container-Register{
  margin-top: 10vw !important;
  border-color: #f1f1f1 !important;
  width: 50% !important;
  border: 0px;
}

.Container-Home{
  position: relative;
  margin-top: 0vw !important;
  display: grid;
  grid-template-columns: 1fr  ;
  grid-gap: 20px ;
}
.Container-Carousel{
  margin-top: 0vw !important;
  width: 50vw !important;

}
.CardHome{
  height:30vw ;
  width:50vw;

}
.CardMediaHome{
  height:25vw ;
  width:50vw;
}

.RightMenu{
  margin-left: 65% !important;
}

.Container-list{
  position: relative;
  margin-top: 3vw !important;
  border-color: #f1f1f1 !important;
  width: 100% !important;
  border: 0px;
}

.Container-Create{
  margin-top: 7.5vw !important;
  border-color: #f1f1f1 !important;
  width: 50% !important;
  border: 0px;
}

.Link{
  text-decoration: none;
  color: #f1f1f1;
}
.Link-menu{
  text-decoration: none;
}

.container-Ad{
  width: 100% !important;
  margin-top: 5vw;
  background-color: white !important;
}

.navbar-expand-lg{
  font-size: 1em !important;
}
/* .nav-link{
    font-size: 1em !important;
} */
h1{
    margin-top: 5vh !important; 
    text-align: center;
}

h2{
    text-align: center;
}

h2.login{
 margin-top: 4vw;
  text-align: center;
}

h3{
     
    text-align: center ;
}

h4{
  margin-top: 6%;
  margin-right: 10%; 
  text-align: right;
}

.logo{
    width: 5vw;
    height: 5vw;
}

.row.filter{
    margin-left: 2vw;
    margin-top: 2vw;
}
div-center{
  display:inline-block;
text-align: center;
}
.table{
    margin-left: 0vw;
    margin-right: 5vw;
    width: 85vw !important;
}



button.login {
  background-color: #4CAF50;
  color: white;
  
  margin-top: 5vw;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #fa1b0b;
}

.imgcontainer {
  text-align: center;
  margin: 16px 0 8px 0;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}


span.psw {
  float: right;
  padding-top: 16px;
}

.Container-Search{
  margin-top: 5vw !important;
  width:50% !important;
}



@media all and (max-width: 1024px) {
  .DetailField{
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
  }

  .imgDetail{
    height: 23vw !important;
    width: 30vw !important;
  }
  
  .imgDetailGroup{
    margin-top: 1vw;  
    width: 90vw !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0vw;
   
  }

  .currencyGroupSearch{
    margin-top: 6vw !important;
  }
  .amount-Search{
    width: 30vw !important;
  
  }
  .Container-Search{
    width:75% !important;
  }

  .Container-Carousel{
    margin-top: 0vw !important;
    width: 60vw !important;
  
  }
  .CardHome{
    height:40vw ;
    width:60vw;
  
  }
  .CardMediaHome{
    height:30vw ;
    width:60vw;
  }

  .adsCardsGroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;

  }
  .Container-list{
    margin-top: 8.5vw !important;
  }
  .Container-Register{
    margin-top: 10vw !important;
    width: 75% !important;
  }
  .loginContainer{
    margin-top: 15vw;
    width: 65% !important;
  }
  .Container-Create{
    margin-top: 10vw !important;
   
    width: 75% !important;
   
  }
  .amount{
   
    width: 50vw !important;
  
  }
  .currency{
    margin-top: 2vw !important;
    width: 25vw !important;
  }
  
  .linkReset{
    text-align: right;
  }

}
/* Change styles for span and cancel button on extra small screens */
@media all and (max-width: 768px) {
  .DetailField{
    display: grid;
    grid-template-columns: 0.25fr 1.90fr;
  }
.DetailValue{
  margin-left: 4vw;
  font-size: 1.25em;
  font-style: italic;
}
.h3Detail{
  text-align: left;
  /* margin-left: 10vw;
  margin-top: 1.8vw; */
}
  .imgDetail{
    height: 30vw !important;
    width: 45vw !important;
  }
  
  .imgDetailGroup{
    margin-top: 1vw;  
    width: 90vw !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0vw;
   
  }

  .currencyGroupSearch{
    margin-top: 10vw !important;
  }

  .amount-Search{
    width: 60vw !important;
  
  }
  .Container-Search{
    width:90% !important;
  }

  .Container-Carousel{
    margin-top: 0vw !important;
    width: 70vw !important;
  
  }
  .CardHome{
    height:60vw ;
    width:70vw;
  
  }
  .CardMediaHome{
    height:50vw ;
    width:70vw;
  }

  span.psw {
     display: block;
     float: none;
  }
  
  .container{
    width: 75% !important;
    background-color: white !important;
  }

  .adsCardsGroup{
   
    grid-template-columns: 1fr 1fr  ;
    grid-gap: 5px ;
  } 
  .Container-list{
    margin-top:11vw !important;
  }

  .Container-Register{
    margin-top: 15vw !important;
    width: 75% !important;
  }
  .loginContainer{
    margin-top: 20vw;
    width: 75% !important;
  }
  .Container-Create{
    margin-top: 12vw !important;

    width: 85% !important;
   
  }
  .amount{
   
    width: 50vw !important;
  
  }
  .currency{
    margin-top: 1vw !important;
    width: 25vw !important;
  }

}

 @media all and (max-width: 480px) {
  .DetailField{
    display: grid;
    grid-template-columns: 0.25fr 1.90fr;
  }
  .DetailValue{
    margin-left: 10vw;
    font-size: 1.2em;
    font-style: italic;
  }
  .h3Detail{
    text-align: left;
    /* margin-left: 10vw;
    margin-top: 1.8vw; */
  }
  .imgDetail{
    height: 60vw !important;
    width: 90vw !important;
  }
  
  .imgDetailGroup{
    margin-top: 1vw;  
    width: 100vw !important;
    grid-template-columns: 1fr;
    grid-gap: 0vw;
   
  }

  .currencyGroupSearch{
    margin-top: 25vw !important;
  }
  .amount-Search{
    width: 90vw !important;
  
  }
  .currency{
    width: 50vw !important;
  }

  .Container-Search{
    width:100% !important;
  }

  .Container-Carousel{
    margin-top: 0vw !important;
    width: 100vw !important;
    margin-left: -5vw !important;
  }
  .CardHome{
    height:90vw ;
    width:100vw;
  
  }
  .CardMediaHome{
    height:75vw ;
    width:100vw;
  }

  span.psw {
     display: block;
     float: none;
  }
  .adsCardsGroup{
 
    grid-template-columns: 1fr  ;
    grid-gap: 10px ;
  }

  .column-Ads{
   width: 100% !important;
  }

  .container{
    width: 95% !important;
    background-color: white !important;
  }
  .Container-list{
    margin-top:20vw !important;
  }
  .Container-Register{
    margin-top: 25vw !important;
    width: 95% !important;
  }
  .loginContainer{
    margin-top: 25vw;
    width: 99% !important;
  }
  .Container-Create{
    margin-top: 22vw !important;
   
    width: 100% !important;

  }
  .amount{
    width: 60vw !important;
  
  }
  .currency{
    width: 25vw !important;
  }
}

