
/* 
img{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 2vh;
    height: 18vh;
    width: 25vw;

} */
.btn-table{
  /* width:4vw; */
  margin-left: 1vw;
}

.img-preview{
  width: 25%;
}

.btn-Ad{
  margin-top: 1vw;
}
.form-group-Ad{
  margin-left: 18vw !important;
}
.form-control{
 margin-bottom: 1vw;
}
.container{
  width: 50% !important;
  background-color: white !important;
  padding: 16px;
}
.inputAmount{
  margin-left:1vw !important; 
  margin-top: 0vw !important;
}
.container{
  width: 50% !important;
  background-color: white !important;
}



.container-Ad{
  width: 100% !important;
  background-color: white !important;
}

.navbar-expand-lg{
  font-size: 1em !important;
}
.nav-link{
    font-size: 1em !important;
}
h1{
    margin-top: 5vh !important; 
    text-align: center;
}

h2{
    text-align: center;
}

h2.login{
 margin-top: 4vw;
  text-align: center;
}

h3{
     
    text-align: center ;
}

h5{
    margin-right: 2vw; 
    text-align: right;
}

.logo{
    width: 5vw;
    height: 5vw;
}

.row.filter{
    margin-left: 2vw;
    margin-top: 2vw;
}

.table{
    margin-left: 2vw;
    margin-right: 2vw;
    width: 96vw !important;
}

/* Login form */
body {font-family: Arial, Helvetica, sans-serif;}
form.login {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {

  margin: 8px 0;

}

button.login {
  background-color: #4CAF50;
  color: white;
  
  margin-top: 5vw;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #fa1b0b;
}

.imgcontainer {
  text-align: center;
  margin: 16px 0 8px 0;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}



span.psw {
  float: right;
  padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 960px) {
  span.psw {
     display: block;
     float: none;
  }
  
  .container{
    width: 75% !important;
    background-color: white !important;
  }
}


@media screen and (max-width: 480px) {
  span.psw {
     display: block;
     float: none;
  }

  .container{
    width: 95% !important;
    background-color: white !important;
  }
}

